html{
  scroll-behavior:smooth;
}

body{
  font-family: 'Work Sans', sans-serif;
  background: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 16pt; 
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background:#f2f2f2;
  position: sticky;
  width: 100vw;
  top:0;
  right:0;
  left:0;
}

header img{
  width:20vw;
  height: auto;
}

h1{
  font-size:1.8em;
  padding: 30px 30px ;
  text-align: center;
  line-height: 1.5;
  font-weight: bolder;
}

h2{
  font-size: 1.2em;
  text-align: center;
  padding: 15px;
}

h3{
  text-align: center;
  font-weight: bolder;
  font-size: 1em;
  font-style: uppercase;
}

h3 a{
  text-decoration: #fccb04 wavy underline;
  color: black;
}

h3 a:hover{
  background-color: rgb(250 158 187);
  color: white;
}
h3 a:focus{
  background-color:rgb(85, 157, 250);
}

h3 a:visited{
  text-decoration: #fccb04 wavy underline;
  color: rgb(85, 157, 250);
}

.tiger{
  background:rgb(85, 157, 250);
}

.rabbit{
  background:rgb(250 158 187);
}

.about-text-block p{
  text-align: center;
}

.about-text-block a{
  text-decoration: none;
  color:#084CA6; 
}
.about-text-block a:hover{
  text-decoration: #fccb04 wavy underline;
  color:#084CA6;
}

.about-text-block a:focus{
  text-decoration: none;
  color:#084CA6;
}

a.contact-forms{
  text-decoration: none;
  color:#084CA6; 
}
a.contact-forms:hover{
  text-decoration: #fccb04 wavy underline;
  color:#084CA6;
}

p {
  padding: 10px 20px;
  text-align: left;
  font-size: 0.7em;
  line-height: 2em;
}

#skip{
  text-align: center;
}

img{
  width: 65%;
  text-align: center;
}

.resources-page {
  background: rgb(255, 252, 247);
  padding: 20px 0px;
}

.activities-page {
  background: rgb(255, 252, 247);
  padding: 20px 0px;
}

.nav_links{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  color: #6fcff5;
  overflow: hidden;
  font-size: 4vw;
  border-radius: 3px;
}


.nav_item a{
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  overflow: hidden;
  text-decoration: none;
  font-weight:bolder;
}

.nav_item a:hover{
  background: rgb(151, 196, 255);
  border-radius: 5px;
  text-decoration:none;
}

.nav_item a:active{
  text-align: center;
  border-radius: 5px;
  background-color:transparent;
  text-decoration: none;
} 

.bgchange{
  background-color: #6fcff5;
  border-radius: 5px;
}

.nav_item a:focus{
  color:rgb(23, 124, 255);
}

.nav_item a:visited {
  background-color:rgb(151, 196, 255);
  border: rgb(151, 196, 255);
}

.puffer img{
  animation-name: slidein;
  animation-duration: 2s;
  animation-iteration-count: 1;
  transition: all 0.2s ease-in-out; 
  transform: rotate3d(0,0,0,0deg);
  position: relative;
  z-index: -1;
  width: 300px;
}

@keyframes slidein {
  from {
    width:100px;
    opacity:0;
  }
  to {
    width:300px;
    opacity: 1;
  }
}

a.skip{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute; 
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
}

a.skip:focus{
  top:20px;
  color: rgb(151, 196, 255);
  text-decoration-style: solid;
  z-index: 99;
}

.content{
  min-height: 475px;
  display: flex;
  flex-flow: column wrap;
}

.elephant-content{
  background: rgb(128 218 255);
  justify-self: center;
  text-align: center;
}

#content{
  text-align: center;
}

input:focus{
  border: px solid white;
  background-color: rgb(151, 196, 255);
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; /
  background-color: #cecece;
  color: black;
}

input[type=submit] {
  background-color: rgb(85, 157, 250);
  color: black;
  padding: 12px 20px;
  border: none;
  margin: 8px 0;
  width: 100%; 
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f8f8f8;
  border: 2px solid rgb(85, 157, 250);
  color: #000000;
}

.contact-form {
  border-radius: 8px;
  background-color: #f2f2f2;
  padding: 40px;
  margin: 20px;
}

.contact-form p{
  text-align: center;
  background: none;
}

.grid,
.events{
  display: grid;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3,250px);
	align-items: stretch;
  width:100%;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

.events{
  padding: 20px 10px;
}


.grid img,
.content-events img{
  width:100%; 
  height:100%; 
  object-fit: cover;
}

/* Parent Container */
.content-events{
  position: relative;
  width: 50vw;
  height: auto;
  overflow: hidden;
 }
 
 /* Child Text Container */
 .content-events div{
  position: absolute;
  bottom: 0;
  right: 0;
  width:100%;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */
 .content-events:hover{
  cursor:cell;
  border: 5px solid rgb(85, 157, 250);
 }
 
 .content-events:hover div{
  width: 100%;
  vertical-align: center;
  visibility: visible;
  opacity: 0.7; 
  padding:20px;
  text-align: center;
  font-size: 1em;
 }


.gallery{
  display:grid;
  grid-template-rows: repeat(9,300px);
  grid-template-columns: 1fr;
  overflow: hidden;
}

.gallery img{
  width:100%; 
  height:100%; 
  object-fit:cover; 
}

.gallery img < div{
 overflow: hidden;
}

.datacite{
  text-align: center;
  font-size: 0.8em;
  padding: 10px;
  color: white;
  background:black;
}

.datacite a{
  color:rgb(151, 196, 255);
  text-decoration: none;
}

.email a{
  color: #f1f1f1;
  font-size: 2em;
  text-decoration: none;

}

.email a:hover, a:focus{
  color: rgb(151, 196, 255);
  text-decoration: #fccb04 wavy underline;
}

footer{
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 0.7em;
  position: relative;
  bottom: 0;
  right:0;
}

footer p{
  text-align: center;
  font-size: 0.8em;
}

@media screen and (min-width: 620px){
  header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  header img{
    width: 11vw;
    padding: 0 5px;
    justify-content: space-between;
    margin: 5px 15px;
  }

  nav{
    justify-content: space-around;
  }

  .nav_links {
    font-size: 0.8em;
    border-radius: 4px;
    }
  
  .nav_item{
    padding:0 10px;
  }

  h1{
    font-size: 1.2em;
  }

  img{
    width: 40%;
    align-items: center;
  }
  
  p{
    padding: 10px 30px;
  }

  .about-text-block{
    margin: 20px;
  }

  .wellness-image-chick {
    background-color: #79bdff;
  }

  .wellness-image-cow{
    background-color: #f7c803;
  }

  .gallery{
    grid-gap: 0.2em;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: auto;
    padding: 0.2em;
  }
  
  h2#elephant{
    color:#919191;
  }
  
  #skip{
    align-items: center;
  }

  footer{
    font-size: 0.5em;
  }

}

@media all and (prefers-reduced-motion: reduce) {
  #logo{
    animation: none;
    transition: none;
    box-sizing: border-box;
  }
}    